/* seletor::pseudo-elemento{
    propriedade: valor;
} */

.first-letter::first-letter{
    color: coral;
}

.first-line::first-line{
    color: coral;
}

.first-line::first-letter{
    color: blue;
}

li::marker{
    color: red;
    font-size: 23px;
}

/* h2::before{
    content: url(./logo.jpg);
} */

/* h2::before{
    content:"";
    background: url(./logo.jpg) center center no-repeat;
    display: inline-block;
    width: 85px;
    height: 85px;
} */

h2::after{
    content:"";
    background: url(./logo.jpg) center center no-repeat;
    display: inline-block;
    width: 85px;
    height: 85px;
}